@model CSLog.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<div class="form-con">
        <div class="">
            <div class="col-md-4">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h5>Change Password Form</h5>
                    <span>@ViewBag.UserName</span>
                    <b>(@ViewBag.DisplayName)</b>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.Raw(ViewBag.Msg)

                    <div class="form-group">
                        <input type="hidden" name="UserId" value="@Model.UserId" />
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-12 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-12 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="submit" value="Change password" class="btn btn-success btn-block" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>*@



<div class="mcontainer" id="container">
    <div class="mform-container sign-in-container">
        <form action="/Manage/ChangePassword" method="post">
            @Html.AntiForgeryToken()
            @Html.Raw(ViewBag.Msg)

            @if (User.Identity.IsAuthenticated)
            {

            }
            else
            {
                <h1>Change Password</h1>
            }



            <div class="social-container">
                <a href="#" class="social"><i class="fa fa-key"></i></a>
            </div>
            <span></span>
            <input type="password" name="OldPassword" placeholder="Old Password" />
            <input type="password" name="NewPassword" placeholder="New Password" />
            <input type="password" name="ConfirmPassword" placeholder="Confirm Password" />
            <a style="color: #04420c" href="#">Forgot your password?</a>
            <input type="hidden" name="UserId" value="@Model.UserId" />
            <button type="submit">Change</button>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Change Password</h1>
                <p>@ViewBag.UserName<b>(@ViewBag.DisplayName)</b></p>
            </div>
        </div>
    </div>
</div>